*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: "Tienne", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #F5F5F5;
    display: flex;  flex-direction: row;
}

.header{
    position: absolute;
    left: 0%;
    width: 5vw;
    background-color: lightgrey;
}

header{
    position: sticky;

    left: 0%;
    width: 5vw;    height: 100vh;
    background-color: lightgrey;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

header img{
    width: 30px;  height: 30px;
    margin-top: 10%;
}

header button{
    width: 40px;    height: 40px;
    border-radius: 100%;

    display: flex;
}

.vertical_align{
    display: flex;
    flex-direction: row;
}

.filler{
    margin-top: 90px;
    margin-bottom: 90px;
}

.rest{ 
    background-color: grey;
    position: relative;
    height: 100vh;   width: 95vw;
    right: 0%;

    display: flex;
    flex-direction: column;

    padding: 2%;
    font-size: 40px;
}

.box{
    position: relative;
    margin-left: 2%;    gap: 2%;
    display: flex;  flex-direction: row;
    max-width: 95vw;    height: auto;
}

.StatusUpdate{
    position: relative;
    background-color: lightgrey;
    max-width: 50%; min-width: 50%;
    border-radius: .4rem;
    padding: 2%;    margin-top: 2%;
    font-weight: 700;
    font-size: 20px;
}

button{
    border-radius: .4rem;
    background-color: grey;
    font-size:40px;    padding: 2%;
}