*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: #F5F5F5;
}


.Box{
    position: absolute;
    width: 20%; height: 20%;
    background-color: white;
}